<div class="campaigns">
  <ion-card >
    <div class="title">
      <span>{{campaign?.category?.name}}</span>
    </div>
    <div [routerLink]="campaign._id" class="description">
      <span>{{campaign?.description}}</span>
    </div>
    <div class="total">
      <span>
        <ion-icon color="danger" name="heart"></ion-icon>
        {{campaign?.countDonators}} doaram
      </span>
    </div>
    <div class="button-donnate">
      <ion-button color="danger" [routerLink]="campaign._id + '/donate'" shape="round">Doar agora</ion-button>
    </div>
  </ion-card>
  <div class="avatar">
    <ion-avatar>
      <img [src]="campaign.user.picture">

    </ion-avatar>
  </div>
</div>