<ion-header no-border>
  <ion-toolbar color="secondary">
    <div class="header">
      <div class="button-start">
        <ion-button (click)="router()" fill="clear" color="light" expand="block"
          *ngIf="showCancel; else showIconLeftTemplate">
          Cancelar
        </ion-button>
        <ng-template #showIconLeftTemplate>
          <div class="icon-left">
            <ion-icon name="heart-empty" *ngIf="showIconLeft"></ion-icon>
          </div>
        </ng-template>
      </div>
      <div class="logo">
        <ion-title *ngIf="showLogo">
          <img src="../../../../assets/svg/Logo.svg" />
        </ion-title>
      </div>
      <ion-menu-toggle>
        <div class="ion-activatable ripple-parent icon-menu">
          <ion-icon slot="icon-only" name="menu" *ngIf="showMenu"></ion-icon>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </ion-menu-toggle>
    </div>
  </ion-toolbar>

</ion-header>
