<ion-content class="ion-padding">
  <div class="content-div">
    <div class="cont">
      <div class="icon">
        <ion-icon name="heart-empty"></ion-icon>
      </div>
      <div class="title">
        Solicitação de campanha enviada com sucesso!
      </div>
      <div class="description">
        Aguarde confirmação da sua Campanha por e-mail, SMS e notificação.
      </div>
      <div class="sub-text">
        As doações são exclusivamente de <span class="mark">Bens</span> e 
        <span class="mark">Serviços</span>.
        A <span class="mark">Missão do Bem</span> não intermedia doações
        de <span class="mark">valores monetários.</span>
      </div>
      <div class="button">
        <ion-button color="danger" shape="round" (click)="goHome()">
          Continuar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>