<app-header url="/campaigns" [showCancel]="true" [showMenu]="false"></app-header>
<ion-content>
    <app-create-campaign (changePageEvent)="next()" [disableNext]="!degreeKinship || !favoredName">

        <div class="input-form">
            <div class="label">
                <span>
                    Nome do Donatário/Favorecido
                    <span class="mandatory">(Obrigatório)</span>
                </span>
            </div>
            <app-input-form>
                <ion-input type="text" [(ngModel)]="favoredName"></ion-input>
            </app-input-form>
        </div>

        <div class="input-form">
            <div class="label">
                <span>
                    Grau de parentesco com donatário
                    <span class="mandatory">(Obrigatório)</span>
                </span>
            </div>
            <app-input-form>
                <ion-input type="text" [(ngModel)]="degreeKinship"></ion-input>
            </app-input-form>
        </div>

        <div class="upload">
            <div class="image">
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <div class="icon-photo">
                    <ion-icon name="camera"></ion-icon>
                </div>
            </div>
            <div>
                <span class="label">Foto do Donatário/Favorecido
                    <span class="mandatory">(Obrigatório)</span>
                </span>
            </div>
        </div>

    </app-create-campaign>
</ion-content>