<app-header url="/campaigns" [showCancel]="true" [showMenu]="false"></app-header>
<ion-content>
    <app-create-campaign [showBack]="false" (changePageEvent)="create()">
        <div class="title">
            Donatário da campanha
        </div>
        <ion-radio-group [(ngModel)]="destination">
            <div class="op-first">
                <div class="op-content">
                    <ion-radio color="danger" slot="start" value="FOR_ME"></ion-radio>
                    <span>Campanha para mim</span>
                </div>
                <div class="op-description">
                    Caso você esteja criando uma Campanha para si próprio, ou seja,
                    Não para outras pessoas, selecione esta opção.
                </div>
            </div>
            <div class="op-second">
                <div class="op-content">
                    <ion-radio color="danger" slot="start" value="FOR_OTHERS"></ion-radio>
                    <span>Campanha para terceiros</span>
                </div>
                <div class="op-description">
                    Caso você esteja criando uma Campanha para terceiros
                    (filhos, pais, vizinhos ou amigos), selecione esta opção.
                </div>
            </div>
        </ion-radio-group>
    </app-create-campaign>


</ion-content>