<div class="toolbar">
  Criar Campanha
</div>
<div class="avatar">
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="name-user">
        <span>{{user?.name}}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="ion-padding">
        <ng-content></ng-content>
        <ion-grid *ngIf="showBack || showNext">
          <ion-row class="ion-justify-content-between">
            <ion-col>
              <div *ngIf="showBack">
                <ion-button fill="clear" color="light" expand="block" (click)="backPage()">
                  <ion-icon name="arrow-dropleft"></ion-icon>
                  {{labelBack}}
                </ion-button>
              </div>
            </ion-col>
            <ion-col>
              <div *ngIf="showNext">
                <ion-button color="danger" shape="round" (click)="nextPage()" [disabled]="disableNext">
                  {{labelNext}}
                  <ion-icon name="arrow-dropright"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="sub-text">
          As sugestões para sua campanha serão analisadas
          e poderão ser adequadas ao modelo Missão do Bem.
        </div>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>