<ion-content class="ion-padding" fullscreen>
	<div class="almost">
		<ion-icon src="../../../../assets/svg/mail.svg"></ion-icon>
		<h4>Estamos quase lá!<br>Enviamos um código para você.</h4>
		<p>Por favor, informe o código de confirmação que acabamos de enviar para seu e-mail/SMS.</p>
	</div>
	<form [formGroup]="confirmForm" (ngSubmit)="active()" class="form">
		<div class="code-inputs">
			<ion-item>
				<ion-input type="tel" inputmode="numeric" formControlName="digit1" [brmasker]="{mask: '0', type:'num'}" clearOnEdit maxlength="1" placeholder="1" #digit1 (ionChange)="moveFocus(digit2)"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="tel" inputmode="numeric" formControlName="digit2" [brmasker]="{mask: '0', type:'num'}" clearOnEdit maxlength="1" placeholder="2" #digit2 (ionChange)="moveFocus(digit3)"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="tel" inputmode="numeric" formControlName="digit3" [brmasker]="{mask: '0', type:'num'}" clearOnEdit maxlength="1" placeholder="3" #digit3 (ionChange)="moveFocus(digit4)"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="tel" inputmode="numeric" formControlName="digit4" [brmasker]="{mask: '0', type:'num'}" clearOnEdit maxlength="1" placeholder="4" #digit4 (ionChange)="active()"></ion-input>
			</ion-item>
		</div>
		<p text-center>Não recebeu o código de confirmação?</p>
		<ion-button (click)="resendCode()" fill="clear" color="primary" expand="block" size="small">Reenviar código</ion-button>
	</form>
</ion-content>