.almost {
    text-align: center;
    margin-top: 30px;
    ion-icon {
        font-size: 5rem;
    }
}
.code-inputs {
    margin: 10vh 0px;
    display: flex;
    ion-input {
        text-align: center;
		--padding-end: 0px;
    }
}

ion-icon {
    --ionicon-stroke-width: 2px;
}