<ion-header no-border>
	<ion-toolbar>
		<ion-title>Mensagens</ion-title>
	</ion-toolbar>
	<ion-searchbar (ionChange)="search($event.target)" placeholder="Pesquisar..."></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="message-list">
		<div class="message" (click)="openChat()">
			<ion-avatar>
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
			<div class="info">
				<div class="header">
					<div class="person">Suporte do Bem</div>
					<div class="date">Seg. 00:00</div>
				</div>
				<div class="last-message">
					Lorem ipsum dolor sit, amet con se ctetur adip isicing elit. 
				</div>
				<div class="tags">
					<span>Suas campanhas</span>
				</div>
			</div>
		</div>
	</div>
</ion-content>