<ion-content class="ion-padding">
  <div class="content-div">
    <div class="cont">
      <div class="icon">
        <ion-icon name="heart-empty"></ion-icon>
      </div>
      <div class="title">
        Sua Campanha <br> está salva
      </div>
      <div class="description">
       Envie sua Campanha o mais breve <br>
       possível para começar a receber doações <br>
       e realizar o seu Desejo
      </div>
      <div class="button">
        <ion-button color="danger" shape="round" (click)="sendNow()">
          Enviar agora
        </ion-button>
      </div>
      <div class="button-campaigns">
        <span>Para ver e editar suas Campanhas, acesse:</span>
        <ion-button shape="round">
          Minhas Campanhas
        </ion-button>
      </div>
      <div>
        Continuar
      </div>
    </div>
  </div>
</ion-content>