<ion-content >
  <ion-icon (click)="goBack()" size="large"
    style="margin-left: 5%;float: left; overflow: visible;position: absolute;z-index: 10000; color: white" name="close">
  </ion-icon>
  <div class="image">
    <img src="../../../../../assets/images/bb.jpg" />
  </div>
  <div class="bar">
    <div>
      Campanha <span class="danger">{{ campaign?.percentageCompleted}}%</span> completa
      <div>
        Faltam <span class="danger">{{campaign?.daysToExpire}}</span> dias
        <span>
          <ion-icon name="heart-empty"></ion-icon>
        </span>
        <span class="danger">{{campaign?.countDonators}}</span> doou
      </div>
    </div>
  </div>
  <div class="avatar">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </div>

  <div class="description">
    <div class="status">
      STATUS: {{ campaign?.active ? 'ATIVA' : campaign?.status == 'ANALYZING' ? 'PENDENTE' : 'ENCERRADA' }}
    </div>
    <div class="dates" style="align-content: center;">
      <div style="display: inline; width: 25%;">Início: <b>{{campaign?.approvedDate | date: 'dd/MM/yyyy'}}</b></div>
      <div style="display: inline; margin-left: 15%;">Término: <b>{{campaign?.expireIn | date: 'dd/MM/yyyy'}}</b></div>
    </div>

    <div class="divider"></div>
    <div class="title">
      {{campaign?.title}}
    </div>
    <div>
      {{campaign?.description}}
    </div>

    <div class="button">
      <ion-button color="danger">Doar agora</ion-button>
    </div>
    <div class="sub-text">
     As doações monetárias serão revestidas pela Missão Do Bem em Bens e Serviços
    </div>
  </div>
</ion-content>