<ion-header no-border>
	<ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-button routerLink="/login" fill="clear" color="light" expand="block">Cancelar</ion-button>
		</ion-buttons>
		<div>
			<img src="../../../../assets/svg/Logo.svg" class="logo" />
		</div>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
	<form [formGroup]="signupForm" (ngSubmit)="send()" class="form">
		<div class="avatar">
			<div class="user">
				<ion-icon src="../../../../assets/svg/user.svg"></ion-icon>
			</div>
			<div class="camera" (click)="captureImage()">
				<ion-icon src="../../../../assets/svg/cam.svg"></ion-icon>
			</div>
		</div>
		<app-input-form label="Nome Completo">
			<ion-input type="text" formControlName="fullName"></ion-input>
		</app-input-form>
		<app-input-form label="Nome de Usuário">
			<ion-input type="text" formControlName="userName"></ion-input>
		</app-input-form>
		<app-input-form label="Email">
			<ion-input type="email" inputmode="email" formControlName="email"></ion-input>
		</app-input-form>
		<app-input-form label="Telefone">
			<ion-input type="tel" inputmode="tel" formControlName="phone" [brmasker]="{phone: true}"></ion-input>
		</app-input-form>
		<app-input-form label="Senha">
			<ion-input type="password" inputmode="password" formControlName="password"></ion-input>
		</app-input-form>
		<app-input-form label="Confirmar senha">
			<ion-input type="password" inputmode="password" formControlName="repassword"></ion-input>
		</app-input-form>
		<ion-button type="submit" color="danger" expand="block" shape="round" [disabled]="signupForm.invalid">Criar
			conta</ion-button>
	</form>
</ion-content>