<ion-content class="ion-no-padding">
  <div class="image">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/YYOKMUTTDdA" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


  <div class="text">
    <ion-text style="font-size: x-large;">Alguém está esperando sua doação</ion-text>
  </div>
  <img style="margin-left: 30%" src="../../../../assets/svg/Logo.svg" />

</ion-content>
<ion-footer>
  <ion-toolbar routerLink="login" class="ion-text-center">
    <ion-text>Pular video <b>></b></ion-text>

  </ion-toolbar>
</ion-footer>