<app-header url="/campaigns/create/step-3" [showCancel]="true" [showMenu]="false"></app-header>
<ion-content class="ion-padding">
  <div class="content-div">
    <div class="cont">
      <div class="title">
        <div>
          Sugira uma categoria
        </div>
        <app-input-form label="Ex: Viagem, Saúde, Educação..">
          <ion-input type="text" [(ngModel)]="sugestion"></ion-input>
        </app-input-form>
      </div>
      <div class="description">
        <ion-icon name="information-circle"></ion-icon>
        <span>
          Pense em um título curto, mas que passe claramente
          o seu Desejo (ex: Família busca tratamento médico especial).
        </span>
      </div>
      <div class="button">
        <ion-button color="danger" shape="round" [disabled]="!sugestion" (click)="send()">
          Enviar sugestão
        </ion-button>
      </div>
      <div class="sub-text">
        As sugestões para sua Campanha serão analisadas e
        poderão ser adequadas ao modelo Missão do Bem.
      </div>
    </div>
  </div>
</ion-content>