.label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}
.description{
    opacity: 0.70;
    div{
        margin-top: 10px;
    }
}
:host ::ng-deep app-input-form{
    .customLabel{
        color: #737373;
    }
}