// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #3e6f97;
	--ion-color-primary-rgb: 62,111,151;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #376285;
	--ion-color-primary-tint: #85a8cb;
  
	--ion-color-secondary: #1a75bb;
	--ion-color-secondary-rgb: 26,117,187;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #1767a5;
	--ion-color-secondary-tint: #3183c2;
  
	--ion-color-tertiary: #7044ff;
	--ion-color-tertiary-rgb: 112,68,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #633ce0;
	--ion-color-tertiary-tint: #7e57ff;
  
	--ion-color-success: #10dc60;
	--ion-color-success-rgb: 16,220,96;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #0ec254;
	--ion-color-success-tint: #28e070;
  
	--ion-color-warning: #ffce00;
	--ion-color-warning-rgb: 255,206,0;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #e0b500;
	--ion-color-warning-tint: #ffd31a;
  
	--ion-color-danger: #ff2c55;
	--ion-color-danger-rgb: 255,44,85;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #e0274b;
	--ion-color-danger-tint: #ff4166;
  
	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34,34,34;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1e2023;
	--ion-color-dark-tint: #383a3e;
  
	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152,154,162;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;
  
	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,244,244;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

	--ion-font-family: 'Roboto', sans-serif;
	--ion-padding: 30px;
	--ion-border-radius: 8px;

	ion-content {
		--padding-top: 16px;
	}

	ion-button {
		text-transform: initial;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0px;
		height: 48px;
		--border-radius: var(--ion-border-radius);
		&.button-small {
			font-size: 14px;
			height: 40px;
		}
	}

	ion-searchbar {
		--background: var(--ion-color-light);
		input {
			border-radius: var(--ion-border-radius) !important;
			box-shadow: unset !important;
		}
	}

	.form {
		ion-item {
			--border-radius: var(--ion-border-radius);
			&.ion-valid, &.ion-invalid {
				border-radius: calc(var(--ion-border-radius) + 2px);
			}
		}
		ion-input {
			height: 44px;
			color: var(--ion-color-dark);
			--placeholder-color: var(--ion-color-medium-shade);
			font-size: 16px;
			line-height: 16px;
			--padding-start: 0px;
			--padding-end: 16px;
			border-radius: 7px;
			&.capitalize {
				text-transform: capitalize;
			}
			&.capitalize-first:first-letter {
				text-transform: uppercase;
			}
		}
		ion-textarea {
			height: auto !important;
		}
		ion-checkbox {
			margin-right: 10px;
			--border-radius: 7px;
			--size: 15px;
		}
		ion-list {
			ion-label {
				font-size: 14px;
				line-height: 14px;
				color: var(--ion-color-dark-shade);
			}
		}
		.group-input-icon {
			display: flex;
		}
		.address-search {
			position: relative;
			.address-options {
				background: #fff;
				position: absolute;
				width: 100%;
				z-index: 9999;
				top: 40px;
				box-shadow: 0 4px 16px rgba(0, 0, 0,.12);
				border-radius: 0px 0px 7px 7px;
				.option {
					width: 100%;
					color: var(--ion-color-medium);
					font-size: 12px;
					padding-left: 1rem;
					line-height: 35px;
					border-top: 1px solid var(--ion-color-light-shade);
					height: 35px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					&:first-child {
						border-top: none !important;
					}
				}
			}
		}
	}
}