ion-content {
	--background: url('../../../../assets/images/bg-login.png') #3e6f97 0 0/100% 100% no-repeat;
}

.logo {
	width: 150px;
	height: 100px;
	margin: 5vh auto 20vh auto;
	display: block;
}

.ion-color-help {
	--ion-color-base: var(--ion-color-primary-tint);
}