form {
    ion-item {
        --border-radius: 5px;
        &.ion-valid, &.ion-invalid {
            border-radius: 5px;
        }
    }
}

.customLabel{
    color: black;
    align-content: center;

}

::ng-deep {
    ion-icon{
        align-self: center;
    }
}

ion-item{
    
    --border-style: solid;
    --border-color: #afafaf;
    --border-width: 2px;
    --border-radius: 5px;
    --highlight-background: #afafaf;
    --highlight-height: 0px;
    margin-bottom: 8px;
    &.ion-valid, &.ion-invalid {
        border-radius: 5px !important;
    }
}