ion-toolbar{
    height: 60px;
    padding-left: 15px;
    .title{
        margin-top: 5px;
        font-weight: 600;
    }
}

ion-content {
    --background: #1a75bb;
}


.text1 {
    padding: 6px;
    text-align: justify;
    color: white;
}

.text2 {
    padding: 8px;
    text-align: justify;
    color: white;

}

ion-icon {
    margin-right: 5px;
    font-size:20px;
}

ion-button {
    --border-radius: 0;
    --box-shadow: 0.1;
    span{
    align-content: center;
    display: flex;

        text-align:left;
        width:100%;
      }
}

ion-input {
    --background: white;
    margin-top: 2px;

}

ion-textarea {
    margin-top: 2px;
    --background: white;
}