ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
}

.toolbar-avatar {
    width: 30px;
    height: 30px;
}

.message-list {
    .message {
        margin-bottom: 0.5rem;
        display: flex;
        ion-avatar {
            max-width: 30px;
            height: 30px;
        }
        .info {
            margin-left: 0.6rem;
            .text {
                background: var(--ion-color-light-shade);
                padding: 0.5rem 0.7rem;
                border-radius: var(--ion-border-radius);
            }
            .date {
                color: var(--ion-color-medium);
                font-size: 12px;
            }
        }
        &.me {
            .info {
                margin-left: auto;
                .text {
                    background: var(--ion-color-secondary) !important;
                    color: #fff;
                }
                .date {
                    text-align: right;
                }
            }
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.message-field {
    --padding-top: 0px;
    --padding-start: 15px;
}