<ion-header no-border>
	<ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/messages"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="start">
			<ion-avatar class="toolbar-avatar">
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
		</ion-buttons>
		<ion-title>
			Suporte do Bem
		</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="action()"><ion-icon slot="icon-only" name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="message-list">
		<div class="message">
			<ion-avatar>
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
			<div class="info">
				<div class="text">
					Lorem ipsum dolor sit, amet con se ctetur adip isicing elit. 
				</div>
				<div class="date">Seg. 00:00</div>
			</div>
		</div>
		<div class="message me">
			<div class="info">
				<div class="text">
					Lorem ipsum dolor sit, amet con se ctetur adip isicing elit. 
				</div>
				<div class="date">Seg. 00:00</div>
			</div>
		</div>
		<div class="message me">
			<div class="info">
				<div class="text">
					Lorem ipsum dolor sit
				</div>
				<div class="date">Seg. 00:00</div>
			</div>
		</div>
		<div class="message">
			<ion-avatar>
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
			<div class="info">
				<div class="text">
					Lorem ipsum dolor sit, amet co 
				</div>
				<div class="date">Seg. 00:00</div>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-textarea rows="1" autoGrow="true" placeholder="Escreva algo..." class="message-field"></ion-textarea>
		<ion-buttons slot="end">
			<ion-button (click)="send()" color="primary"><ion-icon slot="icon-only" name="send"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>