ion-card { background-color: var(--ion-color-secondary); color: white;border-radius: 10px;
}

.fields {
    margin-left: 5%;
    margin-top: 5%;
}
.texto {
    margin-bottom: 5%;
    ion-text {
        font-size: larger;
    }
    ion-label {
        font-weight: lighter;

        font-weight: 100;
    }
}

.button {
    margin-left: 22%;
    margin-bottom: 5%;
    ion-button {
    }
}

.avatar{
    top: 17%;
    z-index: 99999999;
    position: absolute;
    right: 21px;
    ion-avatar{
        width: 70px;
        height: 70px;
        border-style: solid;
        box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
        border-color: var(--ion-color-primary);
    }

}