<app-header url="/login" [showIconLeft]="true"></app-header>
<ion-toolbar color="danger">
  <div class="title">
    <ion-title>Sobre a Missão do Bem</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <div class="text1">
    <ion-text><i>"Dar continuidade a Missão que meus pais perseguiram durante toda sua jornada. Fazer o Bem ao maior
        número de pessoas desassistidas e esperançosas que esperam por uma ajuda"</i>
    </ion-text>
  </div>
  <div class="image">

  </div>
  <div class="text2">
    <p>
      Sonhamos com um mundo melhor para todos!
    </p>
    <p>
      Nossa <b>Missão</b> é inspirar o maior número de pessoas a fazer o <b>Bem</b>! Seja ajudando uma pessoa necessitada,
      melhorando a situação de um bairro, uma cidade, e por que não um país?
    </p>
  </div>
</ion-content>