:host ::ng-deep app-input-form{
    .customLabel{
        color: #737373;
    }
}
.label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.contacts{
    margin-top: 20px;
}
.icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .icon-heart-empty{
        border-radius: 99px;
        border-style: solid;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: var(--ion-color-danger);
        font-size: 56px;
    }
}
.preview{
    text-align: center;
}