<app-header url="/login" [showIconLeft]="true"></app-header>

<ion-toolbar color="danger">
  <div class="title">
    <ion-title>Minhas Campanhas</ion-title>
  </div>
</ion-toolbar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="findActiveCampaigns($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Arraste para atualizar"  
    closeDuration="100ms" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class="ion-no-padding" style="background-color: transparent;">
    <ion-item *ngFor="let campaign of filteredCampaigns" class="ion-no-padding" style="background-color: transparent; margin-top: 5%">
      <app-my-campaigns-card  [campaign]="campaign"></app-my-campaigns-card>
    </ion-item>
  </ion-list>
  <div class="no-more">
    <div>
      <ion-icon name="heart-empty"></ion-icon>
    </div>
    <div>
      <span>Todas as Campanhas visualizadas.</span>
    </div>
    <div>
      <span>Por enquanto, não há mais campanhas.</span>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button [routerLink]="['/campaigns/create']" color="secondary" shape="round">Criar campanha</ion-button>
  </ion-fab>
</ion-content>