app-create-campaign {
    height: calc(100% - 130px);
}

ion-button{
    height: 40px;
    width: 135px;
}
ion-content{
    --background: white;
    .no-more{
        margin-top: 30px;
        margin-bottom: 60px;
        text-align: center;
        ion-icon{
            font-size: 35px;
            color: var(--ion-color-primary);
        }
        span{
            color: var(--ion-color-primary);
        }
    }

    ion-item {
    width: 100%;

    }
}

ion-list {
    width: 100%;

}

