<ion-header no-border>
  <ion-toolbar color="danger">
    <ion-title>
      Pré-visualização da campanha
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="image">
    <img src="../../../../../assets/images/bb.jpg" />
  </div>
  <div class="bar">
    <div>
      Campanha <span class="danger">0%</span> completa
      <div>
        Faltam <span class="danger">90</span> dias
        <span>
          <ion-icon name="heart-empty"></ion-icon>
        </span>
        <span class="danger">0</span> doou
      </div>
    </div>
  </div>
  <div class="avatar">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </div>
  <div class="description">

    <div class="title">
      {{campaign?.title}}
    </div>


    <div>
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
      {{campaign?.description}}
    </div>

    <div class="sub-text">
     As doações monetárias serão revestidas pela Missão Do Bem em Bens e Serviços
    </div>
    <div class="buttons">
      <div>
        <ion-button fill="clear" color="light" expand="block" routerLink="/campaigns/create/step-2">
          <ion-icon name="arrow-dropleft"></ion-icon>
          Editar
        </ion-button>
      </div>
      <div>
        <ion-button color="danger" shape="round" (click)="sendNow()">
          Salvar e enviar
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div>
      <ion-button fill="clear" color="light" expand="block" (click)="draft()">
        Salvar e enviar depois
      </ion-button>
    </div>
    <div class="sub-text">
      As sugestões para sua campanha serão analisadas
      e poderão ser adequadas ao modelo Missão do Bem.
    </div>
  </div>
</ion-content>