<app-header url="/campaigns" [showCancel]="true" [showMenu]="false"></app-header>
<ion-content>
  <app-create-campaign [showBack]="false" (changePageEvent)="create()" [disableNext]="!title || !category">

    <div class="input-form">
      <div class="label">
        <span>
          Sugira um título para sua Campanha
        </span>
      </div>
      <app-input-form label="Título do seu Desejo">
        <ion-input type="text" [(ngModel)]="title"></ion-input>
      </app-input-form>

      <div class="description">
        <ion-icon name="information-circle"></ion-icon>
        <span>
          Pense em um título curto, mas que passe claramente
          o seu Desejo (ex: Família busca tratamento médico especial).
        </span>
      </div>
    </div>

    <div class="input-form">
      <div class="label">
        <span>
          Categoria
        </span>
      </div>
      <app-input-form label="Selecione uma Categoria" (click)="presentModal()">
        <ion-input type="text" [value]="category?.name"></ion-input>
        <ion-icon name="arrow-dropdown" slot="end"></ion-icon>
      </app-input-form>
    </div>

  </app-create-campaign>
</ion-content>