.conteudo {
    margin-left: 4%;
    margin-right: 4%;
}

.payment-methods {
    margin-top: 5%;
}

.card-number {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.expiration {
    width: 45%;
    margin-left: 10%;
}

.ccv {
    margin-left: 5%;
    width: 30%;
    margin-bottom: 3%;
}

.credit-card {
    background: var(--ion-color-secondary);
}

ion-segment-button {
    --color-checked: var(--ion-color-secondary);
    --indicator-color: transparent !important;
    --indicator-color-checked: transparent !important;
  }