<div class="conteudo">
  <h3>Meio de pagamento</h3>

  <div class="payment-methods">
    <ion-segment value="credit" >
      <ion-segment-button value="credit">
        <ion-row>
          <ion-label>Cartão de crédito</ion-label>
        </ion-row>
        <ion-row>
          <ion-icon style="margin-top: 5%;" size="large" name="card"></ion-icon>
        </ion-row>

      </ion-segment-button>

      <ion-segment-button>
        <ion-row>
          <ion-label>Boleto bancário</ion-label>
        </ion-row>
        <ion-row>
          <ion-icon style="margin-top: 5%;" size="large" name="document"></ion-icon>
        </ion-row>

      </ion-segment-button>

    </ion-segment>
  </div>
  <ion-card *ngIf="donation" class="credit-card">
    <div class="card-number">
      <app-input-form label="Nome do titular (Como no cartão)">
        <ion-input type="text" placeholder=" " [(ngModel)]="donation.cardHolderName"></ion-input>
      </app-input-form>
    </div>
    <div class="card-number">
      <app-input-form label="Número do cartão">
        <ion-input type="text" placeholder=" " [(ngModel)]="donation.cardNumber" [brmasker]="{mask:'0000-0000-0000-0000', len:19}"></ion-input>
      </app-input-form>
    </div>
    <br>
    <ion-row>
      <div class="expiration">
        <app-input-form label="Validade">
          <ion-input type="text" placeholder=" " [(ngModel)]="donation.cardExpirationDate" [brmasker]="{mask:'00/00', len:5}"></ion-input>
        </app-input-form>
      </div>
      <div class="ccv">
        <app-input-form label="Cód. seg.">
          <ion-input type="text" placeholder=" " [(ngModel)]="donation.cardCvv" [brmasker]="{mask:'000', len:3}"></ion-input>
        </app-input-form>
      </div>
    </ion-row>
  </ion-card>
</div>